<html>
    <head></head>
    <body>
        <div>
            <div id="form">
                <p>title<input type="text" id="title1" name="title" value="<%=article_params.title%>"/></p>
                <p>content<input type="text" id="content1" name="content" value="<%=article_params.content%>"/></p>
                <p>image<input type="file" id="image1" name="image" value=""/></p>
            </div>
            <button name="<%=article_params.id%>">PUT</button>
        </div>
        <div>
            <p>test _method</p>
            <form action="/article/<%=article_params.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <p>title<input type="text" id="title" name="title" value="<%=article_params.title%>"/></p>
                <p>content<input type="text" id="content" name="content" value="<%=article_params.content%>"/></p>
                <p>image<input type="file" id="image" name="image" value="" /></p> 
                <input type="submit" value="put_method"/> 
            </form>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $("button").on("click",function(e){
               var title = $("#title1").val()
               var content = $("#content1").val()
               var data = new FormData()
               data.append('title',title)
               data.append('content',content)
               
               if($('#image1')[0].files.length != 0){
                    var image = $("#image1")[0].files[0]
                    console.log(image)
                    var blob = new Blob([image]);
                    data.append('image',blob)
               }

               var xhr = new XMLHttpRequest()
               xhr.open('PUT','/article/'+e.target.name)
               xhr.setRequestHeader('Accept','application/json')
               xhr.send(data)
               xhr.onreadystatechange = function(){
                if((xhr.status>=200 &&xhr.status<300)||xhr.status == 304){
                    window.location = xhr.response
                }
               }

            //    $.ajax({
            //        url:'http://127.0.0.1:3000/article/'+e.target.name,
            //        type:'PUT',
            //        processData:false,
            //        contentType:false,
            //        data:data,
            //        success:function(data){
            //            console.log(data)
            //            //window.location = data
            //        }
            //    })
                
            // $("#image").on("change",function(e){
            //     console.log(e.target.files)
            //     image = e.target.files
            // })
           })
    </script>
</html>

